#tableBtn, #tableInput {
  border-radius: 3px;
}

#topRow {
  background-color: black;
}

#bottom {
  background-color: gray;
}

#logoTrello {
  width: 10%;
}

#btnName {
  border-radius: 20px;
}

.text-right {
  margin-left: 544px;
}